.bg-hest-blue {
    background-color: #00305A;
}

.bg-hest-yellow {
    background-color: #D6AD78;
}

.tdnowrap{
    white-space: pre
}

ins {
	    background-color: #cfc;
	    text-decoration: none;
}
	 
del {
	    color: #999;
	    background-color:#FEC8C8;
}

.label-infopws {
    background-color: #000000;
}

.bg-infopws {
    background-color: #000000;
}

div.checkbox-ios-notready {
    display: none;
}

.srchbox-div {
    width: 400px;
}

.srchbox-inputbox {
    width: 150px !important;
}

.srchbox-customer {
    width: 200px !important;
}

.srchbox-button {
    width: 50px !important;
}

@media screen and (max-width: 640px) {
    .srchbox-div {
        width: 180px;
    }

    .srchbox-inputbox {
        width: 60px !important;
    }

    .srchbox-customer {
        width: 80px !important;
    }

    .srchbox-button {
        width: 40px !important;
    }
}

.twitter-typeahead .tt-hint {
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

    .tt-suggestion:hover,
    .tt-suggestion:focus {
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        background-color: #428bca;
    }