<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Smazání záznamu
            </div>
            <div class="modal-body">
                Opravdu si přejete tento záznam odstranit?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zpět</button>
                <a class="btn btn-danger btn-ok">Smazat</a>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $('#confirm-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            });
        });
</script>

