@model ModelStateDictionary

@if (!Model.IsValid)
{
    foreach (var modelError in
                     Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
    {
        <div class="alert alert-danger alert-sm">
            @modelError.ErrorMessage
        </div>
    }
}
